.bodylayout {
    z-index: 1;
    width: 300px;
    height: 250px;
    left: calc(50% - 150px);
    position: absolute;
    background: url('../imgs/charcreate/character/male/a/body_layout.png') no-repeat;
    background-size: 300px 250px;
}

.bodylayoutov {
    position: absolute;
    left:50px;
}

.cheyes, .ch_pp_eyes {
    z-index: 2;
    width: 300px;
    height: 250px;
    position: absolute;
    background-size: 300px 250px;
    background-image: url("../imgs/charcreate/character/male/a/eyes_1.png");
}

.chnose, .ch_pp_nose {
    z-index: 2;
    width: 300px;
    height: 250px;
    position: absolute;
    background-size: 300px 250px;
    background-image: url("../imgs/charcreate/character/male/a/nose_1.png");
}

.chmouth, .ch_pp_mouth {
    z-index: 2;
    width: 300px;
    height: 250px;
    position: absolute;
    background-size: 300px 250px;
    background-image: url("../imgs/charcreate/character/male/a/mouth_1.png");
}

.chbeard, .ch_pp_beard {
    z-index: 3;
    width: 300px;
    height: 250px;
    position: absolute;
    background-size: 300px 250px;
    background-image: url("../imgs/charcreate/character/male/a/beard_1.png");
}

.chhair, .ch_pp_hair {
    z-index: 2;
    width: 300px;
    height: 250px;
    position: absolute;
}
.chhair{
    background-size: 300px 250px;
    background-image: url("../imgs/charcreate/character/male/a/hair_1.png");
}




